<footer>
   <div class="container">
      <nav>
         <ul class="social list-unstyled list-inline">
            <li>
               <a href="#">
                  <i class="fa fa-linkedin"></i>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></li>
            <li><a href="#"><i class="fa fa-twitter"></i></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></li>
         </ul>
         <ul class="privacy list-unstyled list-inline">
         <li><a href="#">Legal stuff</a></li>
         <li><a href="#">Privacy policy</a></li>
         </ul>
      </nav>
      <p class="copyright">&copy; 2015 OrientDB OrientDB is a registered trademark. All rights reserved.</p>
   </div>
</footer>
